/* General styles */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color:blue;
    color: white;
    padding: 20px 0;
}

/* Footer styling */
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

/* Image styling */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Link styling */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}